/***************  
CSS RESET
***************/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--white-text-color);
}

li {
  list-style: none;
}

/***************  
COLORS
***************/
:root {
  --main-bg-color: #080c20;
  --primary-color: #3ee9e5;
  --secondary-color: #093f68;
  --body-text-color: #777f98;
  --white-text-color: #ffffff;
  --error-color: #ff2965;
}

/***************  
GENERAL STYLES
***************/
.main-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
}

body {
  background-color: var(--main-bg-color);
  color: var(--body-text-color);
  font-size: 18px;
  line-height: 1.76rem;
  font-family: "Manrope", sans-serif;
}

h1 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: bold;
}

h2 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2rem;
  line-height: 3.44;
  font-weight: 700;
}

h3 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 500;
}

@media (min-width: 768px) {

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

section {
  margin: 3rem 0 3rem 0;
}

.btn {
  border: none;
  padding: .8rem 1.5rem;
  margin: 0 1rem 0 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  border: 2px solid var(--primary-color);
  color: var(--white-text-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  border: 2px solid var(--secondary-color);
  color: var(--white-text-color);
}

.text-center {
  text-align: center;
}

/***************  
NAVIGATION STYLES
***************/

.navigation > li {
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem 1rem 3rem;
}

.logo {
  font-size: 2.25rem;
  color: var(--primary-color);
}

.navigation-ul {
  display: none;
}

.navigation-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}

.navigation-mobile > a {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text-color);
  padding: 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 1.25rem;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .navigation-ul {
    display: flex;
  }

  .nav-icon {
    display: none;
  }

  .navigation-ul > a {
    margin-left: 1rem;
  }
}

/***************  
BANNER STYLES
***************/
.banner {
  background-image: url("./images/banner-background.png");
  height: 60vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  max-width: 30rem;
  margin-bottom: 3rem;
}

.banner-subheading {
  margin-bottom: 2rem;
  max-width: 30rem;
}

.banner-icons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-icon {
  display: flex;
  color: var(--white-text-color);
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.unique-icon {
  font-size: 2.7rem;
}

.banner-buttons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***************  
ABOUT STYLES
***************/
#about {
  margin: 5rem 0 5rem 0;
  padding: 5rem 0 5rem 0;
}

#about > div > p {
  margin-bottom: 2rem;
}

/***************  
SKILLS STYLES
***************/
#skills {
  margin: 5rem 0 5rem 0;
  padding: 5rem 0 5rem 0;
}

#skills > .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

#skills > .container > div > .fab {
  margin: 0 1rem 0 1rem;
  font-size: 3.18rem;
}

#skills > .container > div > img {
  margin: 0 1rem 0 1rem;
}
