/***************  
CSS RESET
***************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--white-text-color);
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

/***************  
COLORS
***************/
:root {
  --main-bg-color: #080c20;
  --primary-color: #3ee9e5;
  --secondary-color: #093f68;
  --body-text-color: #777f98;
  --white-text-color: #ffffff;
  --error-color: #ff2965;
}

/***************  
GENERAL STYLES
***************/
.main-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: var(--main-bg-color);
  color: var(--body-text-color);
  font-size: 18px;
  line-height: 1.76rem;
  font-family: "Manrope", sans-serif;
}

h1 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

h2 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.44;
  font-weight: 700;
}

h3 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 500;
}

/***************  
NAVIGATION STYLES
***************/

.navigation > li {
  font-size: 2rem;
}

.navigation {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.25rem;
  color: var(--primary-color);
}

.navigation-ul {
  display: none;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text-color);
  padding: 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 1.25rem;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .navigation-ul {
    display: flex;
  }

  .nav-icon {
    display: none;
  }

  .navigation-ul > li {
    margin-left: 1rem;
  }
}

/***************  
BANNER STYLES
***************/
.banner {
  background-image: url("./banner-background.png");
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  max-width: 30rem;
  margin-bottom: 3rem;
}

.banner-subheading {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 30rem;
}

.banner-icons {
  width: 30rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-icon {
  display: flex;
  color: var(--white-text-color);
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .fas,
.fa-github-square,
.fa-linkedin,
.fa-file-pdf {
  max-height: 3.5rem;
  max-width: 3.5rem;
} */
